<html>
<head>
  <title>
    Entrega 01 Proyecto Apis.
  </title>
  <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='estilos.css')}}">
  
</head>  

  <h1>
  <p>Proyecto Apis transparentes al usuario.<p/>
  </h1>
  <p>Portal que publica en twiter y google calendar las fechas y/o notas de examenes.<p/> 
  <br/>

<body>
  <div>
    <table BORDER=3  CELLPADDING=10 CELLSPACING=10>
      <tr>	
	<td WIDTH=300 VALIGN=TOP>
	<br/>
	<form action="/buscar" method="POST">
	  Usuario: <input type="text" name="text">
	  Contraseña:<input type="text" name="passwd">	  
	  <input type="submit" name="my-form" class="button buttonBlue" value="iniciar sesión">	  	  
	</form>
	<br/>	
	</td>	
	</tr>
     </table>
  </div>
  <br/>
  <p><b>Alumnos:</b> </p>
  <p>Carlos Borrego</p>
  <p>Edson Castro.</p>
  <p>German Cabeza de vaca.</p>
</body>
</html>
