<html>
<head>
  <title>
    Publicar Notas de examen.
  </title>
  <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='estilos.css')}}">  
</head>  
  <h1>
  <p>Formulario para publicar nota de cada alumno.<p/>
  </h1>
  <p>Rellene el formulario con los datos necesarios para publicar la fecha del examen, esta fecha se publicara en su twitter y google caldendar, para que los alumnos suscritos puedan verlo.<p/> 

<body>
  <div>
   <form action="/agregarnotaalumno" method="POST">
	<table width="400" BORDER=0  CELLPADDING=0 CELLSPACING=0>
	 <tr><td>Alumno:</td><td> <input type="text" name="alumno"> </td></tr>
	 <tr><td>Nota:</td><td> <input type="text" name="nota"> </td></tr>
	</table>
     <input type="submit" name="my-form" class="button buttonBlue" value="Agregar nota del alumno">
   </form>

	<form action="/publicarnotasexamen" method="POST" style="display:inline">
	   <input type="submit" name="my-form" class="button buttonBlue" value="Publicar Hoja de calculo & twitt" >
	</form>		
	<form action="/tareas" method="POST" style="display:inline">
	   <input type="submit" name="my-form" class="button buttonBlue" value="Tareas">		
	</form>		
  </div>
</body>
</html>
